# Data Hacking - Day 1

**ISTO É UM MARKDOWN**. Semelhante a outras linguagens de marcação, como HTML, o Markdown é um recurso do Jupyter Notebook que permite você colocar pedaços de texto junto com seu código.

Assim como se fosse um documento de texto no **Word** ou **Google Docs**, o Markdown permite que você formate seu texto utilizando caracteres especiais. Confira abaixo como fazer algumas coisas em Markdown:

### Clique duas vezes sobre uma célula Markdown para ver e editar seu conteúdo

# Cabeçalho 1
## Cabeçalho 2
### Cabeçalho 3

**Para deixar um texto em negrito, basta colocar seu texto entre dois pares de `*`**

*Para colocar um texto em itálico, coloque seu texto entre dois `*`*

[Você também pode criar um link para uma determinada página](http://datahackers.com.br/)

**Você também pode adicionar uma imagem em Markdown:**
![](https://carleton.ca/datapower/wp-content/uploads/BannereDark.png)

## Saiba mais sobre Markdown
O Github tem um excelente tutorial com todos os principais comandos de Markdown. Não deixe de conferir para melhorar cada vez mais a forma como você pode enriquecer suas análises:

**[CLIQUE AQUI PARA ACESSAR O SITE](https://guides.github.com/features/mastering-markdown/)**

<center><h1>PROJETO I</h1></center>
<center><h2>Analisando dados do Senado brasileiro</h2></center>

![](http://conteudo.imguol.com.br/c/noticias/5e/2018/02/21/20fev2018---vista-do-plenario-do-senado-em-brasilia-durante-sessao-de-votacao-do-decreto-de-intervencao-do-governo-federal-na-seguranca-publica-do-rio-de-janeiro-1519182512953_615x300.jpg)

# Introdução

Durante as análises que você conduzir, comece fazendo uma breve introdução ao seu trabalho. Gaste no máximo dois parágrafos para contextualizar o leitor sobre o que ele verá nas próximas linhas. **Utilize formatações como negrito para destacar pontos interessantes no texto**, mas não abuse deles. Uso de itálico para palavras estrangeiras também é importante para enriquecer seu texto.


## Motivação

Após contextualizar o leito no trecho acima, **utilize essa parte para explicar o motivo que fez você querer fazer essa análise**. Aqui você também pode ressaltar o que você espera alcançar até o fim desse estudo, por exemplo: pretendo identificar possíveis dados sujos e inconsistentes para depois gerar denuncias na Administração da Câmara dos Senadores, para que eles justifiquem o gasto, apresentando notas fiscais e documentos legais.

Durante a motivação, compartilhe (se possível) o link onde você encontrou o dataset utilizado durante sua análise. Isso permitirá não só que outras pessoas baixem e executem suas próprias análises, como também permitirá entender com que tipo de dado você trabalhou.

Exemplo:
**Link para download do dataset**: [Clique aqui](https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps)

In [14]:
# Utilize comentários para explicar o que seus códigos querem dizer
import pandas as pd

In [15]:
# Lendo dataset
df = pd.read_csv('ceaps_dataset.csv', delimiter=';', encoding='latin1', skiprows=1)

In [16]:
# Cinco primeiras linhas do DataFrame
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,"73,6"
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,"206,84"
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,"407,48"
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550

In [17]:
# Exibindo cinco últimas linhas
df.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
26686,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,083555,23/12/2016,NaN,"183,4"
26687,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,084787,26/12/2016,NaN,50
26688,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,QGIJ8X,07/12/2016,"Companhia Aérea: AZUL, Localizador: QGIJ8X. Pa...","1055,41"
26689,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,S6ZB6L,12/12/2016,"Companhia Aérea: AZUL, Localizador: S6ZB6L. Pa...","390,18"
26690,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,ZDS6KY,12/12/2016,"Companhia Aérea: GOL, Localizador: ZDS6KY. Pas...","654,28"

In [18]:
# Utilizando o método dtypes para entender como o Pandas está lendo todas as colunas
df.dtypes

ANO                   int64
MES                   int64
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
dtype: object

In [19]:
# A função describe() irá retornar uma tabela com estatísticas de todas as colunas númericas de nosso DataFrame
df.describe()

           ANO           MES
count  26691.0  26691.000000
mean    2016.0      6.470908
std        0.0      3.257134
min     2016.0      1.000000
25%     2016.0      4.000000
50%     2016.0      6.000000
75%     2016.0      9.000000
max     2016.0     12.000000

## Explicando sua linha de pensamento

Colocar Markdown entre suas células é muito importante para explicar **o que pretende fazer nas células a seguir**, ou então explicar **o que você descobriu das células anteriores**. Essas partes em texto será muito importante para fazer com que um leito não-técnico consiga entender tudo o que você está fazendo.

# Divida sua análise em tópicos

Divida parte das suas análises em tópicos ao criar cabeçalhos como esse e uma pequena descrição sobre o que você irá fazer nessa fase. Também pode ser interessante destacar problemas que você pode encontrar nos próximos passos. Confira o exemplo abaixo, onde nós vamos criar um tópico para limpeza de dados (Data Cleaning).

# Limpeza de dados (Data Cleaning)

O dataset do CEAPS (Cota para Exercício da Atividade Parlamentar dos Senadores) possui muitos dados sujos. Um dos problemas que encontraremos é a forma como valores em dinheiro é apresentado. Como no Brasil utilizamos vírgulas(`,`) ao invés de ponto (`.`), como no padrão americano, **precisarei substituir as vírgulas e converter a coluna de forma que o Pandas consiga interpretá-la como número**.

In [20]:
# O comando abaixo irá substituir todas as vírgulas da coluna VALOR_REEMBOLSADO por pontos
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',', '.')

In [21]:
# Após substituir os caracteres, converterei a coluna VALOR_REEMBOLSADO em númerico
df['VALOR_REEMBOLSADO'] = pd.to_numeric(df['VALOR_REEMBOLSADO'])

In [22]:
# Verificando se o Pandas está interpretando a coluna VALOR_REEMBOLSADO corretamente
df.dtypes

ANO                    int64
MES                    int64
SENADOR               object
TIPO_DESPESA          object
CNPJ_CPF              object
FORNECEDOR            object
DOCUMENTO             object
DATA                  object
DETALHAMENTO          object
VALOR_REEMBOLSADO    float64
dtype: object

Com sucesso, consegui converter a coluna `VALOR_REEMBOLSADO` em número. Como podemos ver no código acima, o Pandas está interpretando essa coluna como `float64` corretamente.

Continuando nossa limpeza, preciso fazer com a coluna `DATA` seja interpretada de forma correta.

## Alterando coluna de data

In [23]:
# Se eu executar essa célula sem o código abaixo estar comentado, o Pandas irá apresentar um erro
# Descomente ele, caso queira ver o erro

#df['DATA'] = df['DATA'].str.replace('/', '-')

O erro é devido haver muitas datas em formatos inválidos, como anos de `5017`, `3016`, `2016`, dentre outras. **Para cada data inválida que o Pandas encontra ao executar o código**, precisaremos alterar o valor da célula errada.

In [24]:
# Essas são algumas datas que estão incorretas. Iremos substitui-las
df['DATA'] = df['DATA'].str.replace('5017', '2017')
df['DATA'] = df['DATA'].str.replace('3016', '2016')
df['DATA'] = df['DATA'].str.replace('216', '2016')
df['DATA'] = df['DATA'].str.replace('200', '2016')
df['DATA'] = df['DATA'].str.replace('206', '2016')

Agora que as datas foram corrigidas, podemos converter a coluna `DATA` para `datetime`.

In [25]:
df['DATA'] = pd.to_datetime(df['DATA'])

Esse é um exemplo sobre como você pode conduzir suas análises. Basicamente, você deve:
* Dividir seu código em tópicos
* Utilizar markdowns antes de seu código, explicando o que pretende fazer
* Comentar o resultado de seus principais códigos, explicando que resultados conseguiu com eles

# Funções para enriquecer sua análise

Abaixo iremos ver algumas funções que podem ser úteis durante sua análise, que conhecemos durante nosso Bootcamp.

### Criando novas colunas com base no valor de outra
A coluna `DATA` é uma coluna de tempo, nós temos acesso a diversas funções e métodos relacionados a datas. [Confira a documentação oficial do Pandas para conhecer as opções disponíveis para você utilizar](https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#datetimelike-properties). Por exemplo, poderíamos criar uma coluna com o **dia em que foi feito um reembolso**, utilizando o método `day`.

In [26]:
df['DIA'] = df['DATA'].dt.day

Podemos criar novas colunas com Pandas também. Por exemplo, podemos **criar uma coluna binária que informa se o gasto do senador foi maior que R$ 100**.

In [27]:
# Primeiro, vamos criar uma coluna nova, onde todos os seus valores serão 0
df['MAIOR_QUE_100'] = 0

In [28]:
# Em seguida vamor marcar com o valor 1 se a coluna VALOR_REEMBOLSADO for maior que 100
df.loc[df['VALOR_REEMBOLSADO'] > 100, 'MAIOR_QUE_100'] = 1

In [29]:
# Cinco primeiras linhas do novo DataFrame
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,DIA,MAIOR_QUE_100
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60,13,0
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84,18,1
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00,1,1
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48,16,1
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00,1,1

# A função filter 
A função filter permite que você reordene as colunas do DataFrame de acordo com sua vontade.

## ATENÇÃO:
Se você esquecer de colocar uma coluna ou colocar um novo errado, nenhum erro será mostrado. Sempre confira se todas as colunas que você quer estão no DataFrame após usar a função.

In [30]:
df = df.filter(['ANO', 'MES', 'DIA', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO', 'MAIOR_QUE_100'])

In [31]:
# Vamos verificar as colunas do nosso DataFrame
df.columns

Index(['ANO', 'MES', 'DIA', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF',
       'FORNECEDOR', 'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'MAIOR_QUE_100'],
      dtype='object')

In [32]:
# A função unique nos mostrará todos os valores distintos presentes em uma coluna.
# A função .tolist() irá apresentá-las de forma melhor para visualizar, mas não é obrigatória
df['TIPO_DESPESA'].unique().tolist()

['Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
 'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
 'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
 'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
 'Passagens aéreas, aquáticas e terrestres nacionais',
 'Divulgação da atividade parlamentar',
 'Serviços de Segurança Privada']

As categorias de `TIPO_DESPESA` são muito longas. Podemos utilizar a função `.map()` para renomeá-las e deixar mais fácil de ler e compreender.

In [100]:
mapper = {'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.': 'Aluguel de imóveis',
          'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ': 'Aquisição de material',
          'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar': 'Consultoria',
          'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes': 'Logística',
          'Passagens aéreas, aquáticas e terrestres nacionais': 'Passagem',
          'Divulgação da atividade parlamentar': 'Publicidade',
          'Serviços de Segurança Privada': 'Segurança'}

df['TIPO_DESPESA'] = df['TIPO_DESPESA'].map(mapper)

In [104]:
df.head()

,ANO,MES,DIA,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,MAIOR_QUE_100
0,2016,1,13,ACIR GURGACZ,Aluguel de imóveis,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60,0
1,2016,1,18,ACIR GURGACZ,Aluguel de imóveis,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84,1
2,2016,1,1,ACIR GURGACZ,Aluguel de imóveis,004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00,1
3,2016,1,16,ACIR GURGACZ,Aluguel de imóveis,05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48,1
4,2016,1,1,ACIR GURGACZ,Aquisição de material,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00,1

In [107]:
# Com os dados limpos, podemos salvar o arquivo
df.to_csv('dados_limpos.csv', index=False, encoding='latin1')